<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/images/sun.png">
    <link rel="stylesheet" href="/css/styles.css">

    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <main>
            <p>This Website is made using JavaScript and NodeJS.</p>
            <br>
            <p>Dependencies :</p>
            <li>express</li>
            <li>hbs</li>
            <li>request</li>
            <li>date-and-time</li>
            <br>
            <p>APIS Used :</p>
            <li><a href="https://openweathermap.org/">Open Weather Map</a></li>
            <li><a href="https://docs.mapbox.com/api/search/geocoding/">GeoCoding</a></li>
            <br>
            <p>Deployed using Heroku.</p>
        </main>
    </div>
    {{>footer}}
</body>
</html>